@charset "utf-8";


/* fonts */
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/SpoqaHanSansNeo-Thin.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/SpoqaHanSansNeo-Light.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/SpoqaHanSansNeo-Regular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/SpoqaHanSansNeo-Medium.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/SpoqaHanSansNeo-Bold.woff') format('woff'); /* Modern Browsers */
}


/* reset */
* { margin: 0; padding: 0; }
html { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; line-height: 1.5; font-size: 16px; color: #303030; }
ul, ol { list-style: none; }
a { text-decoration: none; line-height: inherit; font-size: inherit; color: inherit; }
table { width: 100%; table-layout: fixed; border-collapse: collapse; }
input { border: none; line-height: inherit; font-family: inherit; font-size: inherit; color: inherit; background: none; }
button { border: none; line-height: inherit; font-family: inherit; font-size: inherit; color: inherit; background: none; cursor: pointer; }
select { appearance: none; border: none; line-height: inherit; font-family: inherit; font-size: inherit; color: inherit; background: none; }
img { vertical-align: top; }


/* layout */
.layout { position: relative; min-height: 100vh; padding: 0 0 120px 0; box-sizing: border-box; }


/* header */
header {}
header > .inner { display: flex; justify-content: space-between; align-items: center; max-width: 1200px; height: 80px; margin: 0 auto; padding: 0 30px; box-sizing: border-box; }
header .title-box { display: flex; align-items: center; }
header .title-box h1 { font-size: 18px; font-weight: 700; }
header .title-box .base { margin: 0 0 0 16px; font-size: 14px; color: #b0b0b0; }
header ul.menu-list { display: flex; align-items: center; }
header ul.menu-list li { position: relative; margin: 0 0 0 20px; font-size: 14px; font-weight: 500; }
header ul.menu-list li.is-active { color: #909090; }
header ul.menu-list li a {}
header ul.menu-list li a:hover { opacity: .75; }


/* main */
main {}
main > .inner { max-width: 1200px; margin: 0 auto; padding: 10px 30px 40px; box-sizing: border-box; }
main section {}
main section + section { margin-top: 60px; }
main section .section-head { display: flex; align-items: baseline; margin: 0 0 20px 0; }
main section .section-head h2 { font-size: 18px; }
main section .section-head .notice { margin: 0 0 0 12px; font-size: 13px; color: #b0b0b0; }
main section .section-main { padding: 0 0 0 40px; }


/* footer */
footer { position: absolute; bottom: 0; left: 0; width: 100%; }
footer > .inner { display: flex; align-items: center; max-width: 1200px; height: 120px; margin: 0 auto; padding: 0 30px; box-sizing: border-box; }
footer p { flex: 1; text-align: center; font-size: 13px; color: #b0b0b0; }
footer p a { text-decoration: underline; text-underline-position: under; }
footer p a:hover { opacity: .75; }


/* hidden */
.hidden { overflow: hidden; position: absolute; width: 1px; height: 1px; font-size: 1px; border: 0; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); }


/* icon */
.icon { display: inline-block; background-repeat: no-repeat; background-size: 100%; }


/* button */
.btn:hover { opacity: .75; }
.btn-link { display: inline-block; padding: 0 12px; line-height: 24px; font-size: 12px; color: #fff; border-radius: 4px; background: #b0b0b0; }
.btn-basic { height: 32px; padding: 0 12px; font-size: 14px; border-radius: 4px; background: #e9e9e9; }
.btn-exchange { width: 50px; height: 50px; background: url('../images/icon-exchange.png') no-repeat center; background-size: 100%; }
.btn-note { width: 30px; height: 30px; background: url('../images/icon-note.png') no-repeat center; background-size: 100%; }


/* table */
.table-box { overflow-x: auto; }
.table-box table { min-width: 700px; }
.table-box table.min-800 { min-width: 800px; }
.table-box table.min-900 { min-width: 900px; }
.table-box table thead {}
.table-box table thead tr {}
.table-box table thead tr th { height: 48px; font-size: 13px; font-weight: 400; color: #fff; background: #606060; }
.table-box table thead tr th:first-child { border-radius: 4px 0 0 0; }
.table-box table thead tr th:last-child { border-radius: 0 4px 0 0; }
.table-box table tbody {}
.table-box table tbody tr {}
.table-box table tbody tr td { height: 40px; font-size: 14px; text-align: center; background: #f5f5f5; }
.table-box table tbody tr td.text-left { text-align: left; }
.table-box table tbody tr:nth-child(2n) td { background: #e9e9e9; }
.table-box table tbody tr td .no-result { padding: 50px 0; }
.table-box table tbody tr td .loading { padding: 50px 0; }
.table-box table tbody tr td .btn-link + .btn-link { margin-left: 4px; }
.table-box table tbody tr:last-child td:first-child { border-radius: 0 0 0 4px; }
.table-box table tbody tr:last-child td:last-child { border-radius: 0 0 4px 0; }


/* loading */
.loading { display: inline-block; }
.loading img { width: 40px; }


/* point */
.point-up { color: #f03e3e; }
.point-up > .icon { width: 8px; height: 8px; margin: 0 8px 0 0; vertical-align: 1px; background-image: url('../images/icon-point-up.png'); }
.point-down { color: #4263eb; }
.point-down > .icon { width: 8px; height: 8px; margin: 0 8px 0 0; vertical-align: 1px; background-image: url('../images/icon-point-down.png'); }
.point-equal { color: #606060; }
.point-equal > .icon { position: relative; width: 8px; height: 8px; margin: 0 8px 0 0; vertical-align: 1px; }
.point-equal > .icon:before { content: ''; position: absolute; top: 50%; left: 0; width: 100%; height: 2px; border-radius: 2px; margin-top: -1px; background: #606060; }


/* input */
.input-box { width: 200px; }
.input-box input[type="text"] { width: 100%; height: 36px; padding: 0 12px; border-radius: 4px; box-sizing: border-box; font-size: 14px; background: #e9e9e9; }
.input-box input[type="text"]:hover { opacity: .75; }


/* input money */
.input-money-box { position: relative; display: inline-block; width: 300px; text-align: right; }
.input-money-box input[type="text"] { width: 100%; height: 48px; padding: 0 20px; text-align: right; border-radius: 4px; box-sizing: border-box; font-size: 20px; background: #e9e9e9; }
.input-money-box input[type="text"]:hover { opacity: .75; }
.input-money-box input[type="text"]:read-only { color: #fff; background: #606060; cursor: auto; }
.input-money-box input[type="text"]:read-only:hover { opacity: 1; }
.input-money-box .btn-note { position: absolute; top: 10px; left: -42px; }
.input-money-box .unit { display: inline-block; padding: 8px 0 0; font-size: 14px; color: #909090; }


/* bookmark */
.bookmark-box {}
.bookmark-box input[type="checkbox"] { vertical-align: top; appearance: none; width: 24px; height: 24px; background: url('../images/icon-bookmark.png') no-repeat center; background-size: 100%; cursor: pointer; }
.bookmark-box input[type="checkbox"]:hover { opacity: .75; }
.bookmark-box input[type="checkbox"]:checked { background-image: url('../images/icon-bookmark-active.png'); }


/* option */
.option-box { display: flex; margin: 0 0 12px 0; justify-content: end; }
.option-box.type-between { justify-content: space-between; }
.option-box .notice-box { line-height: 32px; font-size: 13px; color: #909090; }



/* select */
.select-box { display: flex; align-items: center; }
.select-box .title { margin: 0 16px; font-size: 13px; color: #909090; }
.select-box select { height: 32px; padding: 0 26px 0 12px; font-size: 14px; border-radius: 4px; background: #e9e9e9 url('../images/icon-select.png') no-repeat right 12px center; background-size: 8px; cursor: pointer; }
.select-box select:hover { opacity: .75; }

/* subject */
.subject-box {}
.subject-box .title {}
.subject-box .title h3 { display: inline-block; font-size: 64px; }
.subject-box .title b { margin: 0 0 0 20px; font-size: 24px; }
.subject-box .title .bookmark-box { display: inline-block; margin: 0 12px; vertical-align: 4px; }
.subject-box .desc { display: flex; }
.subject-box .desc dl { display: flex; align-items: center; }
.subject-box .desc dl dt { position: relative; _padding: 0 0 0 10px; font-size: 14px; _color: #909090; }
.subject-box .desc dl dt::before { _content: ''; position: absolute; top: 50%; left: 0; margin-top: -2px; width: 4px; height: 2px; _border-radius: 50%; background: #909090; }
.subject-box .desc dl dd { margin: 0 32px 0 8px; font-size: 14px; }


/* subtitle */
.subtitle-box { margin: 60px 0 20px 0; }
.subtitle-box h4 { font-size: 16px; _color: #606060; }


/* tab */
.tab-box { display: flex; align-items: center; }
.tab-box .title { margin: 0 16px 0 0; font-size: 13px; color: #909090; }
.tab-box > ul { display: flex; padding: 2px; line-height: 28px; border-radius: 4px; font-size: 14px; color: #909090; background: #e9e9e9; }
.tab-box > ul > li {}
.tab-box > ul > li .btn { padding: 0 12px; }
.tab-box > ul > li .btn:hover { opacity: .75; }
.tab-box > ul > li.is-active .btn { border-radius: 3px; color: #303030; background: #fff; }


/* chart */
.chart-box { height: 240px; border-radius: 4px; background: #e9e9e9; }


/* calc */
.calc-box { display: flex; justify-content: space-between; }
.calc-box .entry-box { flex: 1; }
.calc-box .entry-box .option-box { justify-content: start; }
.calc-box .result-box { flex: 1; text-align: right; }
.calc-box .center-box { position: relative; padding: 68px 0 0 0; text-align: center; }
.calc-box .center-box .btn-note { margin-top: 40px; }
.calc-box .option-box {}


/* section bookmark */
section.bookmark {}
section.bookmark .section-head { margin-bottom: 44px; }


/* section information */
section.information {}


/* section detail */
section.detail {}
section.detail .subject-box { border-top: 2px solid #303030; }
section.detail .table-box { margin-top: 20px; }


/* section calculator */
section.calculator {}
section.calculator .section-head { margin-bottom: 44px; }
section.calculator .subtitle-box { margin-top: 40px; }
section.calculator .input-money-box { margin-top: 20px; }




